@media screen and (max-width: 596px) {
  .navigation {
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }
  .navigation .nav-logo a {
    font-size: 24px;
  }
  .primery-btn {
    padding: 8px 25px;
  }
  .hero-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner-content {
    padding-top: 100px;
    width: 100%;
  }
  .banner-content h1 {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 40px;
  }
  .action-section {
    width: 100%;
    flex-direction: column-reverse;
  }
  .action-content {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .productive-section {
    padding: 30px 20px;
    border-radius: 25px;
    margin-bottom: 50px;
    width: 100%;
  }
  .productive-items {
    flex-direction: column;
    gap: 30px;
  }

  .productive-item h1 {
    font-size: 50px;
  }
  .productive-heading h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .feedback-section {
    margin-bottom: 50px;
    flex-direction: column;
    width: 100%;
  }
  .feedback-items {
    flex-direction: column;
  }
  .feedback-items .feedback-item {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
  }
  .rtf-section {
    border-radius: 15px;
    padding: 40px 10px;
    gap: 20px;
    width: 100%;
  }
  .rtf-content h3 {
    font-size: 35px;
  }
  .rtf-img img {
    border-radius: 25px;
  }
  .getintouch-section {
    margin-bottom: 50px;
    padding: 0px 0px;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  .getintouch-section .section-title h1 {
    font-size: 40px;
    text-align: center;
    line-height: 0;
    font-weight: 700;
  }
  .getintouch-section .section-form form {
    width: 80%;
    margin: 0 auto;
  }
  .getintouch-section .section-title {
    width: 100%;
  }
  footer {
    width: 100%;
    padding: 50px 0px;
  }
  .footer-section {
    width: 100%;
  }
  .footer-logo a {
    font-size: 56px;
  }
  .footer-links ul {
    gap: 15px;
    flex-direction: column;
  }
}
